{% extends 'base.html' %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Xodimlar Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Xodimlar</h2>
          <ol>
            <li><a href="{% url 'home' %}">Bosh saxifa</a></li>
            <li>Xodimlar</li>
          </ol>
        </div>

      </div>
    </section><!-- End Xodimlar Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">
        <div class="row">
         <!--  {% for data in hodim_model %}
          <div class="col-lg-3 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                {% if data.image %}
                  <img src="{{ data.image.url }}" class="img-fluid" alt="{{ data.ism }}">
                {% endif %}  
              </div>
              <div class="member-info">
                <h4>{{ data.ism|safe }}</h4>
                <span>{{ data.lavozim }}</span>
                <p>Tug'ilgan yili: {{ data.birth_day}}</p>
              </div>
          </div>
          {% endfor %} -->
          
        {% for data in hodim_model %}
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                {% if data.image %}
                  <img src="{{ data.image.url }}" class="img-fluid" alt="{{ data.ism }}">
                {% endif %}  
              </div>
              <div class="member-info">
                <h4>{{ data.ism|safe }}</h4>
                <p><b>{{ data.lavozim }} </b></p>
                <p><b>Tug'ilgan yili:</b> {{ data.birth_day}}.</p>
                <p><b>Tug'ilgan joyi:</b> {{ data.tg_joyi}}.</p>
                <p><b>Ta'lim muassasasi:</b> {{ data.oqigan_joyi}}.</p>
                <p><b>Ilmiy darajasi:</b> {{ data.ilmiy_darajasi}}</p>
                <p><b>Ish tajribasi:</b> {{ data.ish_tajribasi }} yil.</p>
              </div>
            </div>
            
          </div>
        {% endfor %}

        </div>
      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

{% endblock content %}